* {
  box-sizing: border-box;
}

.enter-details {
  line-height: 3rem;
}

.login-container {
  background: #feebef;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cross {
  color: #eb5757;
  font-size: 6rem;
  font-weight: 700;
}

.left {
  /* margin-top: -35rem; */
  height: 100%;
  /* border: 1px solid red; */
}

.right {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.login-form {
  width: 100%;
  border: 1px solid #eb5757;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  overflow: hidden;
  /* height: 70%; */
}

.form-title {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 24px;
  padding-bottom: 1rem;
  margin-left: 0.2rem;
}

.google-login {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
  height: 60px;
  border: 1px solid #d5cccc;
  border-radius: 8px;
  color: #000;
  padding-left: 1rem;
}

.or {
  color: #a3a3a3;
  margin: 1rem auto;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  height: 2rem;
  justify-content: center;
}

.or-span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.or hr {
  width: 44%;
  height: 0.01px;
  border: 0.1px solid #d5cccc;
}

.email-input {
  margin-top: 10px;
  margin-bottom: 35px;
  background-color: white;
  width: 100%;
  height: 60px;
  border: 1px solid #d5cccc;
  border-radius: 8px;
  color: #000;
  padding-left: 1rem;
}

.password-input {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
  height: 60px;
  border: 1px solid #d5cccc;
  border-radius: 8px;
  color: #000;
  padding-left: 1rem;
}

.signin-btn {
  background: #eb5757;
  border-radius: 4px;
  /* font-weight: 600; */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 100%;
  height: 8.3%;
  border: none;
  padding: 1rem 0;
}

.sign-up {
  text-decoration: none;
  color: #eb5757;
  margin-left: 0.5rem;
}

.forgot {
  color: #eb5757;
  text-decoration: none;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.login-msg {
  color: #eb5757;
}

.login-success {
  color: green;
}

.not-a-member {
  padding-top: 1.5rem;
}

/* Media Queries */

@media screen and (max-width: 912px) {
  .login-container {
    flex-direction: column;
    justify-content: space-between;
  }

  .left {
    margin-top: -0.5rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .google-login {
    font-size: 0.7rem;
  }

  .cross {
    font-size: 3rem;
  }

  .right {
    width: 80vw;
    margin-top: -1rem;
  }

  .login-form {
    height: 90%;
    padding: 0.5rem 1rem;
  }

  .form-title {
    font-size: 1rem;
  }

  .enter-details {
    font-size: 0.8rem;
  }

  .or hr {
    width: 41%;
    height: 0.01px;
    border: 0.1px solid #d5cccc;
  }
  
}
