@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

.otp-h1 {
  color: #03435f;
  font-size: 32px;
}

.doctor-p p {
  line-height: 1rem;
  padding: 0.5rem 0;
}

.otp-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffe6e6;
}

.reset-password-wrapper,
.forgot-password-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6e6;
}

.reset-password-main * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reset-password-main .reset-heading {
  font-weight: 700;
  color: #012a4a;
  align-self: center;
  padding: 1rem;
}

.otp-code-p {
  color: #21334f;
}

.otp-code-p .otp-code-a {
  color: #eb5757;
  text-decoration: none;
}

.reset-password-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.reset-password-main .reset-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  position: absolute;
  width: 30rem;
  height: 28rem;
  background: #ffffff;
  border: 1px solid #eaebec;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.reset-password-main .reset-form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: 2rem;
}

.reset-password-main .reset-main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  color: #b4b4b4;
}

.reset-password-main .input-container input[type="password"] {
  padding-right: 2rem;
}

.reset-password-main .icon {
  position: absolute;
  color: rgb(87, 87, 87);
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  width: 1.2rem;
}

.reset-password-main .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 24rem;
  height: 2.75rem;
  background: #ffffff;
}

.reset-password-main input {
  width: 100%;
  height: 3rem;
  border: 1px solid #98a2b3;
  padding-left: 2.5rem;
  font-size: 400;
  border-radius: 6px;
}

.reset-password-main button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 0.5rem;
  width: 24rem;
  height: 2.8rem;
  background: #eb5757;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.reset-password-main label {
  color: #012a4a;
  padding-top: 1rem;
}

.forgot-content {
  font-weight: 400;
  font-size: 0.85rem;
  color: #21334f;
}
.backtologin {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  color: #000;
  cursor: pointer;
  background-color: #f0f0f0;
  margin: auto;
  margin-top: 0px;
  padding: 10px 10px;
  border-style: none;
}

.justify-center {
  text-align: center;
  font-size: 15px;
}

/* ======================================= */

@media screen and (max-width: 768px) {
  .reset-password-main .reset-container {
    width: 100%;
    height: 100%;
    padding: 2rem;
  }

  .reset-password-main .reset-form {
    padding: 1.5rem;
  }

  .reset-password-main .input-container {
    width: 100%;
    height: 3rem;
  }

  .reset-password-main button {
    width: 100%;
    height: 3rem;
  }

  .justify-center {
    font-size: 14px;
  }
}

/* ======================================= */

#main {
  width: 100%;
  min-height: 100vh;
}

#main form {
  text-align: center;
  width: 500px;
  margin: 150px auto 0;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#main form p {
  font-size: 17px;
  color: #21334f;
  margin-top: 1rem;
}

#main form .otpInput {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#main form .otpInput input {
  outline: none;
  width: 40px;
  height: 40px;
  margin: 12px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
}

#main form button {
  padding: 10px 120px;
  border-radius: 8px;
  background-color: #eb5757;
  border-style: none;
  color: #fff;
}

@media (max-width: 600px) {
  /* Media query for screens with a maximum width of 600px */
  #main form {
    width: 90%;
    margin: 50px auto 0;
    border: 1px solid red;
  }

  #main form .otpInput input {
    width: 40px;
    height: 40px;
    margin: 8px;
    font-size: 16px;
  }

  #main form button {
    padding: 15px 100px;
  }
}

/* ============================================= */

.success-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
  padding: 4rem 0;
  background-color: #ffe6e6;
}

.success-card {
  display: flex;
  flex-direction: column;
  height: 20rem;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #fff;
}

.success-container h1 {
  color: #03435f;
  font-size: 32px;
  position: relative;
}

.check-mark {
  color: green;
  font-size: 3rem;
}

.paras {
  color: #21334f;
  font-size: 16px;
  margin-bottom: 10px;
}

.backto-login {
  background-color: #eb5757;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.backto-login:active {
  outline: none;
}

.otp-alert {
  color: #eb5757;
  font-size: 1.5rem;
  font-weight: 700;
}

.sent {
  font-size: 1rem;
}
