.card-list {
  display: flex;
  align-items: start;
  justify-content: center;
  /* position: relative; */
  /* width: 80%; */
  /* border: 1px solid red; */
  /* transform: translateY(1.9rem);
    -webkit-transform: translateY(1.9rem);
    -moz-transform: translateY(1.9rem);
    -ms-transform: translateY(1.9rem);
    -o-transform: translateY(1.9rem); */
  margin-bottom: 3rem;
  padding: 8rem 0 2rem;
  overflow: auto;
  background: #feebef;
  margin-left: 15.625rem;
  /* flex-wrap: wrap; */
}

.emergencyP p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.emergency {
  width: 260px;
  height: 144px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.emergency a {
  color: #000;
}

.emergency:hover,
.emergency a:hover {
  background-color: #eb5757;
  color: #fff;
}

.icon1,
.icon2,
.icon3 {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feebef;
  color: white;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

/* For WebKit browsers (Chrome, Safari) */
.card-list::-webkit-scrollbar {
  height: 5px;
  /* Width of the scrollbar */
}

.card-list::-webkit-scrollbar-track {
  background-color: #fff; /* Color of the track (the area behind the thumb) */
}

.card-list::-webkit-scrollbar-thumb {
  background-color: #eb5757; /* Color of the thumb (the draggable handle) */
  height: 5px;
}

/* For Firefox */
/* Note: Firefox uses a different pseudo-element for the scrollbar thumb */
/* You can customize the scrollbar colors using the -moz-* properties */
/* Note that this feature is experimental and may not work in all versions of Firefox */
/* Also, it's recommended to include the standard scrollbar styles as a fallback */

/* For example: */
/* Firefox thumb styles */
.card-list {
  scrollbar-color: #eb5757 #fff;
}

.card-list::-moz-scrollbar-thumb {
  background-color: #eb5757;
}

.card-list::-moz-scrollbar-track {
  background-color: #fff;
}
