.article-card {
  display: flex;
  flex-direction: column;
  padding: 0 0.6rem;
  width: 80%;
  /* justify-content: space-between; */
  position: relative;
  margin-left: 19%;
  padding-bottom: 1rem;
  overflow: auto;
  /* border: 1px solid red; */
}

.article-card1 {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  height: 12rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 48%;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  transition: background-color 1s;
}

.article-card1:hover {
  /* border: 1px solid #feebef; */
  /* box-shadow: 0 2px 4px rgba(235, 87, 87, 1); */
  background-color: rgba(0, 0, 0, 0.1);
}

.article-icon1 {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}
.article-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.allCards {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid red; */
  margin: 0 auto;
}

.article-card-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  width: 179px;
  margin-bottom: 0.5rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 23rem;
  padding: 2rem 0;
}

.article-h3 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 29px;
  color: #000000;
}

.article-small-p {
  height: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
  color: #828282;
}

.article-large-p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  overflow: hidden;
}

.articleDisplay {
  background-color: #fff;
  width: 60vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.2rem;
  /* border: 1px solid red; */
}

.articleDisplay img {
  height: 20rem;
  width: 100%;
  border-radius: 0.2rem;
}
.articleDisplay p {
  overflow: auto;
  margin-top: 1rem;
  height: 25rem;
  /* border: 1px solid red; */
}
.articleDisplay h1 {
  margin-top: 1rem;
  font-size: 1rem;
}

.articleModal {
  margin-left: -17.7rem;
  margin-top: -29.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleBtn {
  margin-top: -19rem;
}
