.doctor-table-header {
  width: 50%;
  background-color: #eb5757;
  font-size: medium;
  color: #fff;
}

.tablegrid-container {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  /* border: 1px solid red; */
}
